In [24]:
%matplotlib inline

In [25]:
import os, shutil
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
from pandas.plotting import scatter_matrix
from sklearn import preprocessing 
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from pandas.plotting import scatter_matrix
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn import metrics
from sklearn.metrics import confusion_matrix
from sklearn.preprocessing import OneHotEncoder

In [26]:
url = 'https://raw.githubusercontent.com/mn20781/Predicting-Students-Grades/main/data.csv'

data = pd.read_csv(url, header=0,skiprows=0, delimiter = ';')

In [27]:
data

,Marital status,Application mode,Application order,Course,Daytime/evening attendance\t,Previous qualification,Previous qualification (grade),Nacionality,Mother's qualification,Father's qualification,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,1,17,5,171,1,1,122.0,1,19,12,...,0,0,0,0,0.000000,0,10.8,1.4,1.74,Dropout
1,1,15,1,9254,1,1,160.0,1,1,3,...,0,6,6,6,13.666667,0,13.9,-0.3,0.79,Graduate
2,1,1,5,9070,1,1,122.0,1,37,37,...,0,6,0,0,0.000000,0,10.8,1.4,1.74,Dropout
3,1,17,2,9773,1,1,122.0,1,38,37,...,0,6,10,5,12.400000,0,9.4,-0.8,-3.12,Graduate
4,2,39,1,8014,0,1,100.0,1,37,38,...,0,6,6,6,13.000000,0,13.9,-0.3,0.79,Graduate
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4419,1,1,6,9773,1,1,125.0,1,1,1,...,0,6,8,5,12.666667,0,15.5,2.8,-4.06,Graduate
4420,1,1,2,9773,1,1,120.0,105,1,1,...,0,6,6,2,11.000000,0,11.1,0.6,2.02,Dropout
4421,1,1,1,9500,1,1,154.0,1,37,37,...,0,8,9,1,13.500000,0,13.9,-0.3,0.79,Dropout
4422,1,1,1,9147,1,1,180.0,1,37,37,...,0,5,6,5,12.000000,0,9.4,-0.8,-3.12,Graduate
4423,1,10,1,9773,1,1,152.0,22,38,37,...,0,6,6,6,13.000000,0,12.7,3.7,-1.70,Graduate

In [28]:
#first we read the dataset 
#data = pd.read_csv('/Users/michael_temporary/downloads/data.csv',
                   #header=0,skiprows=0, delimiter = ';')
#data

In [29]:
data.columns

Index(['Marital status', 'Application mode', 'Application order', 'Course',
       'Daytime/evening attendance\t', 'Previous qualification',
       'Previous qualification (grade)', 'Nacionality',
       'Mother's qualification', 'Father's qualification',
       'Mother's occupation', 'Father's occupation', 'Admission grade',
       'Displaced', 'Educational special needs', 'Debtor',
       'Tuition fees up to date', 'Gender', 'Scholarship holder',
       'Age at enrollment', 'International',
       'Curricular units 1st sem (credited)',
       'Curricular units 1st sem (enrolled)',
       'Curricular units 1st sem (evaluations)',
       'Curricular units 1st sem (approved)',
       'Curricular units 1st sem (grade)',
       'Curricular units 1st sem (without evaluations)',
       'Curricular units 2nd sem (credited)',
       'Curricular units 2nd sem (enrolled)',
       'Curricular units 2nd sem (evaluations)',
       'Curricular units 2nd sem (approved)',
       'Curricular units 2nd sem (grade)',
       'Curricular units 2nd sem (without evaluations)', 'Unemployment rate',
       'Inflation rate', 'GDP', 'Target'],
      dtype='object')

In [30]:
#data.isnan()

In [31]:
data.head(n=5)#check the data in the first 15 rows

,Marital status,Application mode,Application order,Course,Daytime/evening attendance\t,Previous qualification,Previous qualification (grade),Nacionality,Mother's qualification,Father's qualification,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,1,17,5,171,1,1,122.0,1,19,12,...,0,0,0,0,0.000000,0,10.8,1.4,1.74,Dropout
1,1,15,1,9254,1,1,160.0,1,1,3,...,0,6,6,6,13.666667,0,13.9,-0.3,0.79,Graduate
2,1,1,5,9070,1,1,122.0,1,37,37,...,0,6,0,0,0.000000,0,10.8,1.4,1.74,Dropout
3,1,17,2,9773,1,1,122.0,1,38,37,...,0,6,10,5,12.400000,0,9.4,-0.8,-3.12,Graduate
4,2,39,1,8014,0,1,100.0,1,37,38,...,0,6,6,6,13.000000,0,13.9,-0.3,0.79,Graduate

In [32]:
data['Marital status'].value_counts() #some exploratory data analysis

1    3919
2     379
4      91
5      25
6       6
3       4
Name: Marital status, dtype: int64

In [33]:
data["Mother's occupation"].value_counts()

9      1577
4       817
5       530
3       351
2       318
7       272
0       144
1       102
6        91
90       70
8        36
191      26
99       17
194      11
141       8
123       7
144       6
175       5
192       5
193       4
134       4
10        4
143       3
151       3
132       3
152       2
122       2
153       2
173       1
125       1
131       1
171       1
Name: Mother's occupation, dtype: int64

In [34]:
target = data['Target']

In [12]:
#encoding the labels into numerical data, to then be one hot encoded 
#labelencoder = LabelEncoder()
#data['Target Encoded']= labelencoder.fit_transform(data['Target'])
data

,Marital status,Application mode,Application order,Course,Daytime/evening attendance\t,Previous qualification,Previous qualification (grade),Nacionality,Mother's qualification,Father's qualification,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,1,17,5,171,1,1,122.0,1,19,12,...,0,0,0,0,0.000000,0,10.8,1.4,1.74,Dropout
1,1,15,1,9254,1,1,160.0,1,1,3,...,0,6,6,6,13.666667,0,13.9,-0.3,0.79,Graduate
2,1,1,5,9070,1,1,122.0,1,37,37,...,0,6,0,0,0.000000,0,10.8,1.4,1.74,Dropout
3,1,17,2,9773,1,1,122.0,1,38,37,...,0,6,10,5,12.400000,0,9.4,-0.8,-3.12,Graduate
4,2,39,1,8014,0,1,100.0,1,37,38,...,0,6,6,6,13.000000,0,13.9,-0.3,0.79,Graduate
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4419,1,1,6,9773,1,1,125.0,1,1,1,...,0,6,8,5,12.666667,0,15.5,2.8,-4.06,Graduate
4420,1,1,2,9773,1,1,120.0,105,1,1,...,0,6,6,2,11.000000,0,11.1,0.6,2.02,Dropout
4421,1,1,1,9500,1,1,154.0,1,37,37,...,0,8,9,1,13.500000,0,13.9,-0.3,0.79,Dropout
4422,1,1,1,9147,1,1,180.0,1,37,37,...,0,5,6,5,12.000000,0,9.4,-0.8,-3.12,Graduate
4423,1,10,1,9773,1,1,152.0,22,38,37,...,0,6,6,6,13.000000,0,12.7,3.7,-1.70,Graduate

In [13]:
from sklearn.impute import SimpleImputer

imputer = SimpleImputer(strategy='median')

In [14]:
school_num = data.drop('Target', axis =1)

In [15]:
imputer.fit(school_num)

SimpleImputer(strategy='median')

In [16]:
imputer.statistics_

array([1.00000000e+00, 1.70000000e+01, 1.00000000e+00, 9.23800000e+03,
       1.00000000e+00, 1.00000000e+00, 1.33100000e+02, 1.00000000e+00,
       1.90000000e+01, 1.90000000e+01, 5.00000000e+00, 7.00000000e+00,
       1.26100000e+02, 1.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       1.00000000e+00, 0.00000000e+00, 0.00000000e+00, 2.00000000e+01,
       0.00000000e+00, 0.00000000e+00, 6.00000000e+00, 8.00000000e+00,
       5.00000000e+00, 1.22857143e+01, 0.00000000e+00, 0.00000000e+00,
       6.00000000e+00, 8.00000000e+00, 5.00000000e+00, 1.22000000e+01,
       0.00000000e+00, 1.11000000e+01, 1.40000000e+00, 3.20000000e-01])

In [17]:
school_num.median().values

array([1.00000000e+00, 1.70000000e+01, 1.00000000e+00, 9.23800000e+03,
       1.00000000e+00, 1.00000000e+00, 1.33100000e+02, 1.00000000e+00,
       1.90000000e+01, 1.90000000e+01, 5.00000000e+00, 7.00000000e+00,
       1.26100000e+02, 1.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       1.00000000e+00, 0.00000000e+00, 0.00000000e+00, 2.00000000e+01,
       0.00000000e+00, 0.00000000e+00, 6.00000000e+00, 8.00000000e+00,
       5.00000000e+00, 1.22857143e+01, 0.00000000e+00, 0.00000000e+00,
       6.00000000e+00, 8.00000000e+00, 5.00000000e+00, 1.22000000e+01,
       0.00000000e+00, 1.11000000e+01, 1.40000000e+00, 3.20000000e-01])

In [18]:
school_num

,Marital status,Application mode,Application order,Course,Daytime/evening attendance\t,Previous qualification,Previous qualification (grade),Nacionality,Mother's qualification,Father's qualification,...,Curricular units 1st sem (without evaluations),Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP
0,1,17,5,171,1,1,122.0,1,19,12,...,0,0,0,0,0,0.000000,0,10.8,1.4,1.74
1,1,15,1,9254,1,1,160.0,1,1,3,...,0,0,6,6,6,13.666667,0,13.9,-0.3,0.79
2,1,1,5,9070,1,1,122.0,1,37,37,...,0,0,6,0,0,0.000000,0,10.8,1.4,1.74
3,1,17,2,9773,1,1,122.0,1,38,37,...,0,0,6,10,5,12.400000,0,9.4,-0.8,-3.12
4,2,39,1,8014,0,1,100.0,1,37,38,...,0,0,6,6,6,13.000000,0,13.9,-0.3,0.79
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4419,1,1,6,9773,1,1,125.0,1,1,1,...,0,0,6,8,5,12.666667,0,15.5,2.8,-4.06
4420,1,1,2,9773,1,1,120.0,105,1,1,...,0,0,6,6,2,11.000000,0,11.1,0.6,2.02
4421,1,1,1,9500,1,1,154.0,1,37,37,...,0,0,8,9,1,13.500000,0,13.9,-0.3,0.79
4422,1,1,1,9147,1,1,180.0,1,37,37,...,0,0,5,6,5,12.000000,0,9.4,-0.8,-3.12
4423,1,10,1,9773,1,1,152.0,22,38,37,...,0,0,6,6,6,13.000000,0,12.7,3.7,-1.70

In [19]:
#set train and test sets of the data
train_set, test_set = train_test_split(data, test_size=0.2, random_state=42)

In [20]:
len(train_set)

3539

In [21]:
train_set_copy = train_set.copy()

In [22]:
len(test_set)

885

In [23]:
y_train_graduate = (y)

NameError: name 'y' is not defined

In [ ]:
attr = ['']

In [ ]:
#data['Tuition fees up to date'], data['Marital status']

In [ ]:
data.describe()

In [ ]:
data.info()

In [ ]:
data.hist(bins=50, figsize=(35,20))
plt.show()

In [ ]:
df=data

In [ ]:
df['Curricular units 2nd sem (grades)'] =pd.cut(data['Curricular units 2nd sem (grade)'], bins=[0., 1.5, 3.0, 4.5, 6., np.inf], 
                                               labels=[1, 2, 3, 4, 5])
df['Curricular units 2nd sem (grades)'].hist()

In [ ]:
#encoding the target data into a numerical format
type(data)

In [ ]:
data['Target'].values

In [ ]:
data.isnull().any() #check for missing values

In [ ]:
#view unique labels in columns
for item in data.columns:
    print(item)
    print (data[item].unique())

In [ ]:
#use a correlation matrix to see how attributes relate to each other 
corr_matrix = data.corr()
corr_matrix['Target Encoded'].sort_values(ascending=False)

In [ ]:
#visualising the correlation 
plt.figure(figsize=(15,8))
data.corr()['Target Encoded'].sort_values(ascending = False).plot(kind='bar')

In [ ]:
#correlation of features with each other 
corr=school_num.corr().iloc[:,:] 
c1 = corr.abs().unstack()
c1.sort_values(ascending = False)

plt.subplots(figsize=(20,15))
sns.heatmap(corr,annot=False,cmap="YlGnBu")

In [ ]:
#scatter matrix to plot the correlation between attributes 
arr = ['Curricular units 2nd sem (approved)', 'Curricular units 2nd sem (grade)', 
       'Curricular units 1st sem (approved)', 'Tuition fees up to date','Target']
scatter_matrix(data[arr], figsize=(20, 15), alpha=0.1)

In [ ]:
#correlation scatter plot of 2nd semester passed
data.plot(kind='scatter', x='Target', y='Curricular units 1st sem (grade)',
         alpha=0.1)

In [ ]:
#visualising the distribution of students academic progression 
from matplotlib.pyplot import suptitle
import seaborn as sns
from seaborn import despine

sns.set(style="whitegrid")

ax=sns.countplot(x='Target',palette="Set3", data=data)
ax.set_xticklabels(["Dropout","Graduate", 'Enrolled'])
ax.set_ylabel("No of Students")
ax.set_xlabel("Academic Progression")
suptitle("Distribution of Student Academic Progression")
despine()

In [ ]:
#describe of the target variables 
data.groupby('Target').describe()

In [ ]:
data.describe()

In [ ]:
#checking a few values using a scatterplot
#attributes = ['Course']
data.shape #check the shape of the data, contains 4424 values, 37 features

In [ ]:
#data['Gender'].astype #cast an entire object to a specific type

In [ ]:
data.dtypes

In [ ]:
data['Target'].value_counts() #find what categories exist , and the no that belong to them

In [ ]:
x_data= school_num
scaler = preprocessing.MinMaxScaler()
x_scaled = scaler.fit_transform(x_data)

In [ ]:
x_scaled

In [ ]:
#splitting the data
from sklearn.model_selection import StratifiedKFold
X = school_num.iloc[:,school_num.columns != 'Target Encoded']
y = school_num.iloc[:, school_num.columns == 'Target Encoded']
print('Shape of X: {}'.format(X.shape))
print('Shape of y: {}'.format(y.shape))

In [ ]:
skf = StratifiedKFold(n_splits=10, shuffle=True, random_state=1)
skf.get_n_splits(X, y)

In [ ]:
print(skf)

In [ ]:
#random forest classifer 
clf = RandomForestClassifier(max_depth=2, random_state=0)

In [ ]:
#performing stratified kfold validation and training a random forest classifier 
for train_index, test_index in skf.split(x_scaled, y):
    #print("TRAIN:", train_index, "TEST:", test_index)
    X_train = X.iloc[train_index]
    y_train = y.iloc[train_index]
    X_test = X.iloc[test_index]
    y_test = y.iloc[test_index]
    clf.fit(X_train,y_train.values.ravel())
    rfc_pred = clf.predict(X_test)
    print('Accuracy:',accuracy_score(y_test,rfc_pred))

In [ ]:
from sklearn.model_selection import cross_val_predict

y_train_pred = cross_val_predict(clf, X_train, y_train.values.ravel(), cv =3)

In [ ]:
confusion_matrix(y_train, y_train_pred)

In [ ]:
from sklearn.metrics import confusion_matrix
confusion_matrix_forest = confusion_matrix(y_test, rfc_pred)
print(confusion_matrix_forest)

In [ ]:
#plotting a confusion matrix
labels = ['Dropout', 'Enrolled', 'Graduate']
plt.figure(figsize=(7,5))
ax= plt.subplot()
sns.heatmap(confusion_matrix_forest,cmap="Blues",annot=True,fmt='.1f', ax = ax); #annot=True to annotate cells

# labels, title and ticks
ax.set_xticklabels(labels)
ax.set_yticklabels(labels)
ax.set_xlabel('Predicted labels');ax.set_ylabel('True labels'); 
ax.set_title('Confusion Matrix Random Forests');

In [ ]:
F1_score = metrics.f1_score(y_test, rfc_pred, average='micro')
print('F1 score: ', F1_score)

In [ ]:
from sklearn.metrics import classification_report
print(classification_report(y_test, rfc_pred))

In [ ]:
from sklearn.metrics import roc_curve
from sklearn.metrics import RocCurveDisplay

#store the values for the false positive and true positive rate, then display them in a 
#plot
fpr, tpr, _ = roc_curve(y_test, rfc_pred, pos_label=clf.classes_[1])
roc_display = RocCurveDisplay(fpr=fpr, tpr=tpr).plot()

In [ ]:
#performing grid search with 10kfold cross validation 
from sklearn.model_selection import GridSearchCV

grid_search = GridSearchCV(cv=10, estimator=RandomForestClassifier (n_jobs=-1, random_state=42),
             n_jobs =-1,
             param_grid={'max_depth': [2, 3, 5, 10, 20],
                         "min_samples_leaf": [5, 10, 20, 50, 100, 200],
                         "n_estimators": [10, 25,30, 50, 100, 200]},scoring= 'accuracy',
                         verbose=1)

In [ ]:
grid_search.fit(X_train, y_train.values.ravel())

In [ ]:
#finding the best score 
grid_search.best_score_

In [ ]:
#getting the best estimator
rf_best = grid_search.best_estimator_
rf_best

In [ ]:
#visualisation of the best estimator
from sklearn.tree import plot_tree
plt.figure(figsize=(30,30))
plot_tree(rf_best.estimators_[5], 
          feature_names = X.columns,class_names=['Dropout', "Enrolled", 'Graduate'],
          filled=True, fontsize=10);

In [ ]:
from sklearn.tree import plot_tree
plt.figure(figsize=(30,30))
plot_tree(rf_best.estimators_[10],max_depth=10,
          feature_names = X.columns,class_names=['Dropout', "Enrolled", 'Graduate'],
          filled=True, fontsize=20);

In [ ]:
plt.figure(figsize=(15,5))
plot_tree(rf_best.estimators_[1],max_depth=5,
          feature_names = X.columns,class_names=['Dropout', "Enrolled", 'Graduate'],
          filled=True, fontsize=8);

In [ ]:
#sorting out the data for feature importance
rf_best.feature_importances_

In [ ]:
imp_df = pd.DataFrame({
    "Varname": X_train.columns,
    "Imp": rf_best.feature_importances_
})

In [ ]:
imp_df.sort_values(by="Imp", ascending=False)

In [ ]:
#testing the new grid searched classifier on the test set 
y_pred_bestrfc = rf_best.predict(X_test)

In [ ]:
#getting the accuracy 
print('Accuracy:',accuracy_score(y_test,y_pred_bestrfc))

In [ ]:
#confusion matrix of the new classifer 
confusion_matrix_forest = confusion_matrix(y_test, y_pred_bestrfc)
print(confusion_matrix_forest)

In [ ]:
#visualising the confusion matrix 
labels = ['Dropout', 'Enrolled', 'Graduate']
plt.figure(figsize=(7,5))
ax= plt.subplot()
sns.heatmap(confusion_matrix_forest,cmap="Blues",annot=True,fmt='.1f', ax = ax); #annot=True to annotate cells

# labels, title and ticks
ax.set_xticklabels(labels)
ax.set_yticklabels(labels)
ax.set_xlabel('Predicted labels');ax.set_ylabel('True labels'); 
ax.set_title('Confusion Matrix Random Forests');

In [ ]:
#validating the data 
print(classification_report(y_test, y_pred_bestrfc))

In [ ]:
#plot the aoc
from sklearn.metrics import classification_report
from sklearn.metrics import roc_auc_score
from sklearn.metrics import roc_curve,auc


y_score_rfc = rf_best.predict_proba(X_test)[:,1]
fpr, tpr,_ = roc_curve(y_test, y_score_rfc, pos_label=1)
roc_auc_forests = auc(fpr, tpr)

print(roc_auc_forests)

In [ ]:
#ploting the roc curve for one of the classes after optimisation 
from sklearn.metrics import RocCurveDisplay



fpr, tpr, _ = roc_curve(y_test, rfc_pred, pos_label=clf.classes_[0])
roc_display = RocCurveDisplay(fpr=fpr, tpr=tpr).plot()

In [ ]:
fpr, tpr, _ = roc_curve(y_test, rfc_pred, pos_label=clf.classes_[1])
roc_display = RocCurveDisplay(fpr=fpr, tpr=tpr).plot()

In [ ]:
fpr, tpr, _ = roc_curve(y_test, rfc_pred, pos_label=clf.classes_[2])
roc_display = RocCurveDisplay(fpr=fpr, tpr=tpr).plot()

In [ ]:
#check cross validation score 
rf_best.predict_proba(X_train)

In [ ]:
agronomy_drop = df_1.loc[(df_1['Course'] ==9003 ) & (df_1['Target'] == 'Dropout'),
        ['Course', 'Target']]
agronomy_drop.value_counts()

In [ ]:
admission_grade = df_1.loc[(df_1['Admission grade'] >100 ) & (df_1['Target'] == 'Dropout'),
        ['Admission grade', 'Target']]
admission_grade.items

In [ ]:
gender = df_1.loc[(df_1['Gender'] ==1 ) & (df_1['Target'] == 'Dropout'),
        ['Gender', 'Target']]
total = 1335 - 701
print(total)
gender

In [ ]:
len(gender)

In [ ]:
marital_stats = df_1.loc[(df_1['Marital status'] ==1 ) & (df_1['Target'] == 'Dropout'),
        ['Marital status', 'Target']]
marital_stats

In [ ]:
no_married =  data.loc[data['Marital status'] ==1]
no_married

In [ ]:
df_1.columns

In [ ]:
#no of students who dropped out after the first semester
#df_1.loc[(df_1['Curricular units 1st sem (grade)'] >0 ) & (df_1['Target'] == 'Dropout'),
        # ['Curricular units 1st sem (grade)', 'Target']]
df_1.loc[df_1['Curricular units 1st sem (grade)'] >0, ['Curricular units 1st sem (grade)', 'Target']]

In [ ]:
course_dropouts = df_1['Course'].value_counts()
course_dropouts

In [ ]:
course_nos =data['Course'].value_counts() #count the values of course type
course_nos

In [ ]:
total_students = sum(course_nos)
total_dropouts = sum(course_dropouts) #get the total no of students that have enrolled and dropped out
students_left = total_students - total_dropouts
print('Total no of Students :', total_students, '\nTotal no of dropouts:', total_dropouts,
     '\nStudents left after dropout :', students_left)